/* * {
  outline: 1px solid green;
} */

html, body {
  background-color: var(--bs-light);
  max-width: 1000px;
  min-width: 450px;
  margin: 0 auto !important;
}

#sitewide-banner {
  height: 6vh;
  background-color: var(--bs-warning);
  color: #fff;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1000px;
  display: none;
}

header {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c237 C 96%2c294.4 288%2c534.4 480%2c524 C 672%2c513.6 768%2c198.6 960%2c185 C 1152%2c171.4 1344%2c401.8 1440%2c456L1440 560L0 560z' fill='%23bb4201'%3e%3c/path%3e%3cpath d='M 0%2c359 C 57.6%2c333.4 172.8%2c243 288%2c231 C 403.2%2c219 460.8%2c344.6 576%2c299 C 691.2%2c253.4 748.8%2c-13 864%2c3 C 979.2%2c19 1036.8%2c354.6 1152%2c379 C 1267.2%2c403.4 1382.4%2c175.8 1440%2c125L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c245 C 96%2c273.4 288%2c381.2 480%2c387 C 672%2c392.8 768%2c292.6 960%2c274 C 1152%2c255.4 1344%2c290 1440%2c294L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  /*background: linear-gradient(var(--bs-info), var(--bs-primary));*/
  height: 25vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 30px 30px;
}

.table>:not(caption)>*>* {
  border-bottom-width: 0 !important;
}

td {
  text-align: center;
  max-width: 33%;
}

td > i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--bs-primary);
  cursor: pointer !important;
}

/* Keywords help with filtering, however they should not be displayed */
.keywords {
  display: none;
}